NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

SHOP_EMAIL_TO=objednavky@fotbalovyoutletcz.cz
SHOP_PHONE=+420605171216
SHOP_BANK_ACCOUNT=36493003/5500
SHOP_IG=fotbalovy_outlet_cz
SHOP_FB=
SHOP_DOMAIN=fotbalovyoutletcz.cz
